{{outlet}}
<b> Projects </b><br/>
<table> 
	<tr>
		<td> Title </td>
		<td> BA </td>
		<td> Status  </td>
	</tr>
	{{#each model as |project|}}
	<tr>
		<td> {{project.title}} </td>
		<td>{{project.business_analyst}}</td>
		<td>{{project.status}}</td>
		<td> <button {{action "editProject"}} style="color:blue"> Edit </button></td>
		<td> <button {{action "deleteProject"}} style="color:red"> Delete </button> </td>
	</tr>
	{{/each}}
</table>
{{projects/new-project newProject=newProject}}